/*
    Serhan BakÃƒâ€žÃ‚Â±r
    Junior Web Developer
    Ajans: Digital KÃƒÆ’Ã‚Â¼re
    Mail: serhan@digitalkure.com
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
    --gray: #404040;
    --lightgray: #b4b4b4;
    --blue: #00b8ff;
    --white-on-dark: 255, 255, 255;
}

.container-fluid {
    width: 1716px;
    max-width: 90%;
    margin: 0 auto;
}

.container {
    width: 990px;
    max-width: 90%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: #fff;
}

.header {
    background-color: #000;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header .header-inner {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-inner .navbar-brand,
.header .header-inner .navbar-brand a {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header .header-inner .navbar-brand img {
    width: 20px;
    height: 33px;
}

.header .header-inner .navbar-brand .search {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--gray);
    border-radius: 5px;
}

.header .header-inner .navbar-brand .search .search-input {
    background-color: var(--gray);
    outline: none;
    border: none;
    line-height: 34px;
    width: 448px;
    color: var(--lightgray);
    caret-color: #fff;
    transition: .3s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
}

.header .header-inner .navbar-brand .search .search-input::placeholder {
    color: var(--lightgray);
    font-size: 15px;
    font-weight: 600;
}

.header .header-inner .navbar-brand .search .search-input:focus {
    background-color: #222222;
    color: #777777;
}

.header .header-inner .navbar-brand .search .search-btn {
    background-color: var(--gray);
    outline: none;
    border: none;
    height: 34px;
    width: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: .3s ease;
}

.header .header-inner .navbar-brand .search .search-input:focus+.search-btn {
    background-color: #222222;
    color: #777777;
}

.header .header-inner .navbar-brand .search .search-btn i {
    color: var(--lightgray);
    font-size: 18px;
}

.header .header-inner .nav .navbar {
    display: flex;
    column-gap: 30px;
}

.header .header-inner .nav .navbar .nav-item {
    font-size: 22px;
    color: #a6a6a6;
}

.header .header-inner .nav .navbar button.nav-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header .header-inner .nav .navbar .nav-item.active {
    color: #fff;
}

.header .header-inner .nav .navbar .nav-item.show {
    color: #fff;
}

.header .header-inner .nav .navbar .nav-item.nav-pencil {
    background-color: var(--blue);
    color: #000;
    width: 45px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.header .header-inner .nav .navbar .nav-item .fa-face-smile,
.header .header-inner .nav .navbar .nav-item .fa-bolt-lightning,
.header .header-inner .nav .navbar .nav-item .fa-user {
    position: relative;
}

.header .header-inner .nav .navbar .smile {
    position: absolute;
    top: 50px;
    display: none;
}

.header .header-inner .nav .navbar .smile.lightning {
    right: 35px;
}

.header .header-inner .nav .navbar .smile.user {
    display: block;
}

.header .header-inner .nav .navbar .smile .smile-inner {
    background-color: #222222;
    width: 280px;
    height: 288px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header .header-inner .nav .navbar .lightning .smile-inner {
    width: 380px;
    height: 186px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info {
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info p {
    font-size: 14px;
    font-weight: 600;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info span {
    font-size: 14px;
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info span hr {
    width: 70px;
    margin-top: 20px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info span:hover {
    text-decoration: underline var(--blue);
}

.header .header-inner .nav .navbar .smile .smile-inner .lightning-content-menu .lightning-menu-inner .lightning-menu {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.header .header-inner .nav .navbar .smile .smile-inner .lightning-content-menu .lightning-menu-inner .lightning-menu button {
    background-color: transparent;
    color: #ababab;
    font-weight: 600;
    font-size: 17px;
    border: none;
    padding: 0 13px;
    height: 40px;
    cursor: pointer;
}

.header .header-inner .nav .navbar .smile .smile-inner .lightning-content-menu .lightning-menu-inner .lightning-menu button.active {
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body img {
    width: 64px;
    height: 64px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body p {
    color: #b2b2b2;
    font-size: 20px;
    font-weight: 600;
    line-height: 55px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body.lightning-body {
    background-color: #323232;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body.lightning-body i {
    color: #b7b7b7;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body.lightning-body p {
    font-size: 11px;
    color: #dddddd;
    line-height: normal;
    text-align: center;
    padding: 0 15px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body .smile-content img {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin: 0 3px;
}

.header .header-inner .nav .navbar .user {
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
}

.header .header-inner .nav .navbar .user .user-inner {
    background-color: #222222;
    width: 225px;
    height: auto;
    max-height: 90vh;
    overflow-y: scroll;
    border-radius: 4px;
}

.header .header-inner .nav .navbar .user .user-inner .user-info {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #323232;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header .header-inner .nav .navbar .user .user-inner .user-info-main {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #323232;
}

.header .header-inner .nav .navbar .user .user-inner .user-info-main p {
    font-size: 14px;
    color: #ffffffa6;
}

.header .header-inner .nav .navbar .user .user-inner .user-info-main .quit {
    font-size: 14px;
    color: #ffffffa6;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.quit-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    flex-direction: column;
    row-gap: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quit-body h2 {
    text-align: center;
    color: white;
}

.quit-body button {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
}

.quit-body .cancel-btn {
    background-color: #a8a8a8;
}

.quit-body .ok-btn {
    background-color: #00b8ff;
}

.pencil-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    row-gap: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}

.pencil-body .pencil-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pencil-body .pencil-item .btn-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.pencil-body .pencil-item.btn-white {
    background-color: #ffffff;
}

.pencil-body .pencil-item.btn-red {
    background-color: #ff4930;
}

.pencil-body .pencil-item.btn-orange {
    background-color: #ff8a00;
}

.pencil-body .pencil-item.btn-green {
    background-color: #00cf35;
}

.pencil-body .pencil-item.btn-blue {
    background-color: #00b8ff;
}

.pencil-body .pencil-item.btn-slateblue {
    background-color: #7c5cff;
}

.pencil-body .pencil-item.btn-pink {
    background-color: #ff62ce;
}

.pencil-body .pencil-item img {
    width: 50px;
    height: 50px;
}

.pencil-body .pencil-item:hover .btn-img img {
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(25deg);
    }
}

.pencil-body .pencil-item p {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s ease;
}

.pencil-body .pencil-item:hover p {
    font-size: 20px;
}

.header .header-inner .nav .navbar .user .user-inner .user-info-main-footer {
    height: 48px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header .header-inner .nav .navbar .user .user-inner .user-info-main-footer a {
    font-size: 12px;
    color: #ffffffa6;
}

.header .header-inner .nav .navbar .user .user-inner .user-info-main-footer a:hover {
    text-decoration: underline #ffffffa6;
}

.header .header-inner .nav .navbar .user .user-inner .user-info p {
    font-size: 14px;
    color: #ffffffa6;
}

.header .header-inner .nav .navbar .user .user-inner .user-info .quit {
    font-size: 14px;
    color: #ffffffa6;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header .header-inner .nav .navbar .user .user-inner .user-content-menu .user-menu button.user-menu-item {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    width: 210px;
    height: 45px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .header-inner .nav .navbar .user .user-inner .user-content-menu .user-menu .user-menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header .header-inner .nav .navbar .user .user-inner .user-content-menu .user-menu .user-menu-item:hover {
    background-color: rgb(57, 57, 57);
}

.header .header-inner .nav .navbar .user .user-inner .user-content-menu .user-menu .user-menu-item .date {
    color: #bababa;
}

.header .header-inner .nav .navbar .user .user-inner .user-content-menu .user-menu .user-menu-item .user-menu-icons i {
    font-size: 20px;
    color: #bababa;
}

.header .header-inner .nav .navbar .user .user-inner .user-content-menu .user-menu .user-menu-item .user-menu-icons p {
    font-size: 15px;
    color: #ffffff;
}

.header .header-inner .nav .navbar .user .user-inner .user-content-menu .user-menu .user-menu-item .user-menu-icons {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header .header-inner .nav .navbar .user .user-inner .profile .profile-inner .profile-body {
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header .header-inner .nav .navbar .user .user-inner .profile .profile-inner .profile-body:hover {
    background-color: rgb(57, 57, 57);
}

.header .header-inner .nav .navbar .user .user-inner .profile .profile-inner .profile-body {
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header .header-inner .nav .navbar .user .user-inner .profile .profile-inner .profile-body .profile-name {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.header .header-inner .nav .navbar .user .user-inner .profile .profile-inner .profile-body .profile-name .profile-name-inner p {
    font-size: 14px;
    font-weight: 600;
}

.header .header-inner .nav .navbar .user .user-inner .profile .profile-inner .profile-body .profile-name .profile-name-inner span {
    font-size: 14px;
    color: #ffffffa6;
}

.header .header-inner .nav .navbar .user .user-inner .profile .profile-inner .profile-body .profile-name img {
    width: 37px;
    height: 37px;
    border-radius: 3px;
}

.header .header-inner .nav .navbar .user .user-inner .profile .profile-inner .profile-body .profil-toggle i {
    font-size: 14px;
    color: #ffffffa6;
}

.header .header-inner .nav .navbar .user .user-inner .profile-intr .profile-intr-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .header-inner .nav .navbar .user .user-inner .profile-intr .profile-intr-menu .profil-intr-item {
    padding: 3px 10px;
    font-size: 14px;
}

.header .header-inner .nav .navbar .user .user-inner .profile-intr .profile-intr-menu .profil-intr-item:hover {
    background-color: rgb(57, 57, 57);
}

.header .header-inner .nav .navbar .user .user-inner .profile-intr .profile-intr-menu .profil-intr-item:first-child {
    margin-top: 10px;
}

.header .header-inner .nav .navbar .user .user-inner .profile-intr .profile-intr-menu .profil-intr-item:last-child {
    margin-bottom: 10px;
}

.mobil-header {
    display: none;
}

.mobil-header .mobil-inner {
    padding-top: 10px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobil-header .mobil-inner .nav-img img {
    width: 20px;
    height: 33px;
}

.mobil-header .mobil-inner i {
    color: #a6a6a6;
    font-size: 18px;
    cursor: pointer;
}

.write-text {
    margin-top: 100px;
}

.today-text {
    margin-top: 50px;
}

.write-text .write-text-inner {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    flex-wrap: wrap;
}

.write-text .today-text-inner {
    column-gap: 0;
}

.write-text .write-text-inner .write-text-content {
    display: flex;
    column-gap: 25px;
    position: relative;
}

.write-text .write-text-inner .write-text-content .write-text-none {
    width: 540px;
    height: 355px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write-text .write-text-inner .write-text-content .write-text-none img {
    width: 80px;
    height: 80px;
}

.write-text .write-text-inner .write-text-content .write-text-none a {
    display: inline-block;
    margin-top: 5px;
    color: #6e6f71;
}

.write-text .write-text-inner .write-text-content .write-text-none p {
    margin-top: 5px;
    color: #acacac;
}

.write-text .write-text-inner .today-text-content {
    border-right: 1px solid var(--gray);
    padding-right: 15px;
}

.write-text .write-text-inner .write-text-user {
    position: relative;
}

.write-text .write-text-inner .write-text-user img {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    cursor: pointer;
}

.write-text .write-text-inner .write-text-user .write-user-info {
    position: absolute;
    top: 64px;
    left: -113px;
    width: 280px;
    background-image: url(../img/profile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 3;
    border-radius: 5px;
    display: none;
}

.write-text .write-text-inner .write-text-user .write-user-info:hover {
    display: block;
}

.write-text .write-text-inner .write-text-user img:hover+.write-user-info {
    display: block;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-intr {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-intr p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.write-text .write-text-inner .write-text-user .write-user-icons {
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;
}

.write-text .write-text-inner .write-text-user .write-user-icons i {
    color: #fff;
    font-size: 23px;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-img {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -22px;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-desc {
    background-color: #fff;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-desc h2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-desc p {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.write-text .write-text-inner .write-text-info .write-info-inner .write-info-menu {
    width: 540px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    padding: 15px;
    border-radius: 4px;
}

.write-text .write-text-inner .write-text-info .write-info-inner .write-info-menu .write-info-item {
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.write-text .write-text-inner .write-text-info .write-info-inner .write-info-menu .write-info-item img {
    transition: .3s;
    width: 45px;
    height: 45px;
}

.write-text .write-text-inner .write-text-info .write-info-inner .write-info-menu .write-info-item:hover img {
    transform: translateY(-4px);
}

.text-editor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.text-editor .text-editor-inner {
    display: flex;
    column-gap: 25px;
}

.text-editor .text-editor-inner .text-editor-img img {
    width: 64px;
    height: 64px;
    border-radius: 3px;
}

.text-editor .text-editor-inner .text-editor-body {
    width: 540px;
    overflow: hidden;
    background-color: #222222;
    border-radius: 4px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-info {
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-info p,
.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-info i {
    font-size: 16px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-info i {
    cursor: pointer;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-upload {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    border: 2px dashed rgba(255, 255, 255, .07);
    position: relative;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-upload .fa-x {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ff4930;
    position: absolute;
    top: 7px;
    right: 7px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-upload:hover .fa-x {
    display: flex;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-upload button {
    background-color: transparent;
    border: none;
    color: #848484;
    cursor: pointer;
    padding: 24px 103px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-upload .text-editor-upload-img {
    border-right: 1px solid rgba(255, 255, 255, .13);
}


.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-upload button i {
    font-size: 50px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-upload button p {
    margin-top: 10px;
    font-size: 14px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-title,
.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-text {
    padding: 0 20px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-title input {
    width: 100%;
    height: 50px;
    outline: none;
    background-color: #222222;
    border: none;
    color: #fff;
    font-size: 26px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-title input::placeholder {
    font-size: 26px;
    color: #767676;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-text textarea {
    height: 143px;
    overflow: hidden;
    outline: none;
    background-color: #222222;
    border: none;
    color: #fff;
    resize: none;
    font-size: 16px
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-text textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-hash {
    cursor: pointer;
    background-color: #2d2d2d;
    width: 350px;
    height: 44px;
    margin: 20px;
    border-radius: 44px;
    display: flex;
    align-items: center;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-hash p {
    color: #adadad;
    font-size: 15px;
    padding: 0 20px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-hash p:hover {
    color: #fff;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-intr {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 1px solid rgba(255, 255, 255, .13);
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-intr .text-editor-close .btn-close {
    background-color: #3f3f3f;
    border: none;
    width: 84px;
    height: 32px;
    border-radius: 44px;
    color: rgba(255, 255, 255, .65);
    font-size: 16px;
    cursor: pointer;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-gear {
    display: flex;
    column-gap: 20px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-gear .btn-ever {
    border: 1px solid rgba(255, 255, 255, 0.40);
    color: #fff;
    background-color: transparent;
    height: 34px;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: 16px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-gear .btn-ever i {
    font-size: 10px;
}

.text-editor .text-editor-inner .text-editor-body .text-editor-content .text-editor-gear .btn-send {
    border: none;
    color: #000;
    background-color: #00b8ff;
    height: 34px;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: 16px;
}


.user-btn {
    margin-top: 25px;
}

.today-btn {
    margin-top: 30px;
}

.user-btn .user-btn-inner .user-btn-menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.user-btn .user-btn-inner .user-btn-menu .user-btn-item {
    color: #fff;
    padding: 14px 16px;
}

.user-btn .user-btn-inner .user-btn-menu .user-btn-item:hover {
    background-color: rgba(var(--white-on-dark), .13);
}

.user-btn .user-btn-inner .user-btn-menu .user-btn-item.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.user-btn .user-btn-inner .user-btn-menu .user-btn-item.active:hover {
    background-color: transparent;
}

.post {
    position: absolute;
    left: 0;
}

.today-post {
    position: relative;
}

.post .post-inner {
    display: flex;
    column-gap: 20px;
    position: relative;
    margin-top: 20px;
}

.post .post-inner .post-img img {
    border-radius: 3px;
    position: sticky;
    top: 70px;
    cursor: pointer;
}

.post .post-inner .post-user .post-user-info {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 20px;
    cursor: pointer;
}

.post .post-inner .post-user .post-user-info:hover {
    background-color: #2b2b2b;
}

.post .post-inner .post-user .post-user-info .post-user-name {
    display: flex;
    column-gap: 10px;
}

.post .post-inner .post-user .post-user-info .post-user-name p {
    font-size: 13px;
    font-weight: 600;
}

.post .post-inner .post-user .post-user-info .post-user-name button {
    color: var(--blue);
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post .post-inner .post-user .post-user-info .post-user-name button:hover {
    text-decoration: underline var(--blue);
}

.post .post-inner .post-user .post-user-info .post-user-intr {
    display: flex;
    column-gap: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post .post-inner .post-user .post-user-info .post-user-intr:hover {
    background-color: rgba(var(--white-on-dark), .04);
}

.post .post-inner .post-user .post-user-info .post-user-intr i {
    font-size: 20px;
    color: #a0a0a0;
}

.post .post-inner .post-user .post-content {
    background-color: #222222;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.post .post-inner .post-user .post-content p {
    padding: 15px;
    line-height: 25px;
    width: 540px;
}

.post .post-inner .post-user .post-content .post-hash {
    padding: 15px;
    color: #a9a9a9;
}

.post .post-inner .post-user .post-content .post-hash span {
    margin-right: 15px;
    cursor: pointer;
}

.post .post-inner .post-user .post-content .radar-fire,
.post .post-inner .post-user .post-content .radar-fire p {
    margin: 0;
    border: none;
    cursor: pointer;
}

.post .post-inner .post-user .post-content .radar-intr {
    padding: 15px;
}

.post .post-inner .post-user .post-content .radar-intr .radar-intr-not,
.post .post-inner .post-user .post-content .radar-intr .radar-intr-user .radar-menu i {
    cursor: pointer;
}

.browse {
    width: 320px;
}

.today-browse {
    padding-left: 15px;
    margin-top: 30px;
}

.browse .browse-inner h1 {
    padding: 0 10px 10px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.browse .browse-inner .follow-todays {
    margin-top: 20px;
}

.browse .browse-inner .follow .discovery {
    color: var(--blue);
    margin-top: 12px;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    display: inline-block;
    position: relative;
    top: 5px;
}

.browse .browse-inner .follow .discovery:hover {
    text-decoration: underline var(--blue);
}

.browse .browse-inner .follow .follow-today-inner {
    background-color: #121212;
    border-radius: 3px;
}

.browse .browse-inner .follow .follow-inner .follow-title {
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.browse .browse-inner .follow .follow-inner .follow-footer {
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-top: 1px solid rgba(var(--white-on-dark), .13);
}

.browse .browse-inner .follow .follow-inner .follow-footer p {
    font-size: 11px;
}

.browse .browse-inner .follow .follow-inner .follow-footer h2 {
    font-size: 15px;
    color: var(--blue);
    cursor: pointer;
}

.browse .browse-inner .follow .follow-inner .follow-footer h2:hover {
    text-decoration: underline var(--blue);
}

.browse .browse-inner .follow .follow-inner .follow-title h2 {
    font-size: 17px;
}

.browse .browse-inner .follow .follow-inner .follow-title p {
    font-size: 16px;
    color: var(--blue);
    cursor: pointer;
}

.browse .browse-inner .follow .follow-inner .follow-title p:hover {
    text-decoration: underline var(--blue);
}

.browse .browse-inner .follow .follow-inner .follow-item {
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 4px;
}

.browse .browse-inner .follow .follow-inner .follow-today-item {
    display: inline-block;
    margin: 12px 10px;
}

.browse .browse-inner .follow .follow-inner .follow-today-item:first-child {
    margin-top: 8px;
}

.browse .browse-inner .follow .follow-inner .follow-item:first-child {
    margin-top: 8px;
}

.browse .browse-inner .follow .follow-inner .follow-item:hover {
    background-color: #121212;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info .follow-name {
    display: flex;
    flex-direction: column;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info .follow-name p,
.browse .browse-inner .follow .follow-inner .follow-item .user-info .follow-name span {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info .follow-name span {
    color: #8d8d8d;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info img {
    height: 37px;
    width: 37px;
    border-radius: 4px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info .today-img-hash {
    border-radius: 3px;
    width: 64px;
    height: 45px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr p {
    color: var(--blue);
    font-size: 15px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr i {
    font-size: 10px;
    font-weight: 600;
    color: #808080;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr i:hover {
    color: #fff;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr p:hover {
    text-decoration: underline var(--blue);
}

.browse .browse-inner .radar-title {
    margin-top: 50px;
    padding: 0 10px 10px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.radar .radar-inner {
    background-color: #222222;
    margin-top: 15px;
    border-radius: 5px;
}

.radar .radar-inner .radar-card .radar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info {
    height: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info .radar-name {
    display: flex;
    flex-direction: column;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info .radar-name p {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info .radar-name span {
    font-size: 14px;
    color: var(--blue);
}

.radar .radar-inner .radar-card .radar-info .radar-user-info .radar-name span:hover {
    text-decoration: underline var(--blue);
}

.radar .radar-inner .radar-card .radar-info .radar-ellips {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radar .radar-inner .radar-card .radar-info .radar-ellips:hover {
    background-color: rgba(var(--white-on-dark), .04);
}

.radar .radar-inner .radar-card .radar-info .radar-ellips i {
    font-size: 20px;
    color: #a0a0a0;
}

.radar .radar-inner .radar-card .radar-img img {
    width: 320px;
    height: 400px;
}

.radar .radar-inner .radar-card .today-img img {
    width: 290px;
    height: 400px;
}

.radar-fire {
    border-bottom: 1px solid var(--gray);
    margin: 0 10px;
}

.radar-fire p {
    margin: 30px 0 10px;
    color: #b2b2b2;
    font-weight: 600;
}

.radar-intr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
}

.radar-intr .radar-intr-not {
    width: 103px;
    height: 36px;
    border: 1px solid var(--gray);
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radar-intr .radar-intr-user .radar-menu {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.radar-intr .radar-intr-user .radar-menu i {
    color: var(--lightgray);
    font-size: 20px;
}

.sponsor-title {
    margin-top: 50px;
    position: sticky;
    top: 60px;
    padding: 0 10px 10px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.sponsor {
    margin-top: 15px;
    padding: 0 10px;
    position: sticky;
    top: 110px;
}

.tumblr-info-menu {
    margin: 15px 0;
    padding: 0 10px;
    position: sticky;
    top: 95%;
}

.tumblr-info-menu a {
    color: var(--blue);
    font-size: 12px;
    margin: 0 10px 0 0;
}

.tumblr-info-menu a:hover {
    text-decoration: underline var(--blue);
}

.inbox-info-menu {
    position: fixed;
    bottom: 0;
}