/*
    Serhan BakÃƒâ€žÃ‚Â±r
    Junior Web Developer
    Ajans: Digital KÃƒÆ’Ã‚Â¼re
    Mail: serhan@digitalkure.com
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
    --gray: #404040;
    --lightgray: #b4b4b4;
    --blue: #00b8ff;
    --white-on-dark: 255, 255, 255;
}

.container-fluid {
    width: 1716px;
    max-width: 90%;
    margin: 0 auto;
}

.container {
    width: 990px;
    max-width: 90%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: #fff;
}

.header {
    background-color: #000;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header .header-inner {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-inner .navbar-brand,
.header .header-inner .navbar-brand a {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header .header-inner .navbar-brand img {
    width: 20px;
    height: 33px;
}

.header .header-inner .navbar-brand .search {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--gray);
    border-radius: 5px;
}

.header .header-inner .navbar-brand .search .search-input {
    background-color: var(--gray);
    outline: none;
    border: none;
    line-height: 34px;
    width: 448px;
    color: var(--lightgray);
    caret-color: #fff;
    padding: 0 5px;
    transition: .3s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header .header-inner .navbar-brand .search .search-input::placeholder {
    color: var(--lightgray);
    font-size: 16px;
}

.header .header-inner .navbar-brand .search .search-input:focus {
    background-color: #222222;
    color: #777777;
}

.header .header-inner .navbar-brand .search .search-btn {
    background-color: var(--gray);
    outline: none;
    border: none;
    height: 34px;
    width: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: .3s ease;
}

.header .header-inner .navbar-brand .search .search-input:focus+.search-btn {
    background-color: #222222;
    color: #777777;
}

.header .header-inner .navbar-brand .search .search-btn i {
    color: var(--lightgray);
    font-size: 18px;
}

.header .header-inner .nav .navbar {
    display: flex;
    column-gap: 30px;
}

.header .header-inner .nav .navbar .nav-item {
    font-size: 22px;
    color: #a6a6a6;
}

.header .header-inner .nav .navbar button.nav-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header .header-inner .nav .navbar .nav-item.active {
    color: #fff;
}

.header .header-inner .nav .navbar .nav-item.nav-pencil {
    background-color: var(--blue);
    color: #000;
    width: 45px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.header .header-inner .nav .navbar .nav-item .fa-face-smile,
.header .header-inner .nav .navbar .nav-item .fa-bolt-lightning {
    position: relative;
}

.header .header-inner .nav .navbar .smile {
    position: absolute;
    top: 50px;
    display: none;
}

.header .header-inner .nav .navbar .smile.lightning {
    right: 35px;
}

.header .header-inner .nav .navbar .smile.user {
    display: block;
}

.header .header-inner .nav .navbar .smile .smile-inner {
    background-color: #222222;
    width: 280px;
    height: 288px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header .header-inner .nav .navbar .lightning .smile-inner {
    width: 380px;
    height: 186px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info {
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info p {
    font-size: 14px;
    font-weight: 600;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info span {
    font-size: 14px;
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info span hr {
    width: 70px;
    margin-top: 20px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-info span:hover {
    text-decoration: underline var(--blue);
}

.header .header-inner .nav .navbar .smile .smile-inner .lightning-content-menu .lightning-menu-inner .lightning-menu {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.header .header-inner .nav .navbar .smile .smile-inner .lightning-content-menu .lightning-menu-inner .lightning-menu button {
    background-color: transparent;
    color: #ababab;
    font-weight: 600;
    font-size: 17px;
    border: none;
    padding: 0 13px;
    height: 40px;
    cursor: pointer;
}

.header .header-inner .nav .navbar .smile .smile-inner .lightning-content-menu .lightning-menu-inner .lightning-menu button.active {
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body img {
    width: 64px;
    height: 64px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body p {
    color: #b2b2b2;
    font-size: 20px;
    font-weight: 600;
    line-height: 55px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body.lightning-body {
    background-color: #323232;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body.lightning-body i {
    color: #b7b7b7;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body.lightning-body p {
    font-size: 11px;
    color: #dddddd;
    line-height: normal;
    text-align: center;
    padding: 0 15px;
}

.header .header-inner .nav .navbar .smile .smile-inner .smile-body .smile-content img {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin: 0 3px;
}

.mobil-header {
    display: none;
}

.mobil-header .mobil-inner {
    padding-top: 10px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobil-header .mobil-inner .nav-img img {
    width: 20px;
    height: 33px;
}

.mobil-header .mobil-inner i {
    color: #a6a6a6;
    font-size: 18px;
    cursor: pointer;
}

.write-text {
    margin-top: 100px;
}

.today-text {
    margin-top: 50px;
}

.write-text .write-text-inner {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    flex-wrap: wrap;
}

.write-text .today-text-inner {
    column-gap: 0;
}

.write-text .write-text-inner .write-text-content {
    display: flex;
    column-gap: 25px;
    position: relative;
}

.write-text .write-text-inner .write-text-content .write-text-none {
    width: 540px;
    height: 355px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write-text .write-text-inner .write-text-content .write-text-none img {
    width: 80px;
    height: 80px;
}

.write-text .write-text-inner .write-text-content .write-text-none a {
    display: inline-block;
    margin-top: 5px;
    color: #6e6f71;
}

.write-text .write-text-inner .write-text-content .write-text-none p {
    margin-top: 5px;
    color: #acacac;
}

.write-text .write-text-inner .today-text-content {
    border-right: 1px solid var(--gray);
    padding-right: 15px;
}

.write-text .write-text-inner .write-text-user {
    position: relative;
}

.write-text .write-text-inner .write-text-user img {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    cursor: pointer;
}

.write-text .write-text-inner .write-text-user .write-user-info {
    position: absolute;
    top: 64px;
    left: -113px;
    width: 280px;
    background-image: url(../img/profile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 3;
    border-radius: 5px;
    display: none;
}

.write-text .write-text-inner .write-text-user .write-user-info:hover {
    display: block;
}

.write-text .write-text-inner .write-text-user img:hover+.write-user-info {
    display: block;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-intr {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-intr p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.write-text .write-text-inner .write-text-user .write-user-icons {
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;
}

.write-text .write-text-inner .write-text-user .write-user-icons i {
    color: #fff;
    font-size: 23px;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-img {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -22px;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-desc {
    background-color: #fff;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-desc h2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.write-text .write-text-inner .write-text-user .write-user-info .write-user-desc p {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.write-text .write-text-inner .write-text-info .write-info-inner .write-info-menu {
    width: 540px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    padding: 15px;
    border-radius: 4px;
}

.write-text .write-text-inner .write-text-info .write-info-inner .write-info-menu .write-info-item {
    text-align: center;
    color: #fff;
}

.write-text .write-text-inner .write-text-info .write-info-inner .write-info-menu .write-info-item img {
    transition: .3s;
}

.write-text .write-text-inner .write-text-info .write-info-inner .write-info-menu .write-info-item img:hover {
    transform: translateY(-4px);
}

.user-btn {
    margin-top: 25px;
}

.today-btn {
    margin-top: 30px;
}

.user-btn .user-btn-inner .user-btn-menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.user-btn .user-btn-inner .user-btn-menu .user-btn-item {
    color: #fff;
    padding: 14px 16px;
}

.user-btn .user-btn-inner .user-btn-menu .user-btn-item:hover {
    background-color: rgba(var(--white-on-dark), .13);
}

.user-btn .user-btn-inner .user-btn-menu .user-btn-item.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.user-btn .user-btn-inner .user-btn-menu .user-btn-item.active:hover {
    background-color: transparent;
}

.post {
    position: absolute;
    left: 0;
}

.today-post {
    position: relative;
}

.post .post-inner {
    display: flex;
    column-gap: 20px;
    position: relative;
    margin-top: 20px;
}

.post .post-inner .post-img img {
    border-radius: 3px;
    position: sticky;
    top: 70px;
    cursor: pointer;
}

.post .post-inner .post-user .post-user-info {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 20px;
}

.post .post-inner .post-user .post-user-info:hover {
    background-color: #2b2b2b;
}

.post .post-inner .post-user .post-user-info .post-user-name {
    display: flex;
    column-gap: 10px;
}

.post .post-inner .post-user .post-user-info .post-user-name p {
    font-size: 13px;
    font-weight: 600;
}

.post .post-inner .post-user .post-user-info .post-user-name button {
    color: var(--blue);
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post .post-inner .post-user .post-user-info .post-user-name button:hover {
    text-decoration: underline var(--blue);
}

.post .post-inner .post-user .post-user-info .post-user-intr {
    display: flex;
    column-gap: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post .post-inner .post-user .post-user-info .post-user-intr:hover {
    background-color: rgba(var(--white-on-dark), .04);
}

.post .post-inner .post-user .post-user-info .post-user-intr i {
    font-size: 20px;
    color: #a0a0a0;
}

.post .post-inner .post-user .post-content {
    background-color: #222222;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.post .post-inner .post-user .post-content p {
    padding: 15px;
    line-height: 25px;
    width: 540px;
}

.post .post-inner .post-user .post-content .post-hash {
    padding: 15px;
    color: #a9a9a9;
}

.post .post-inner .post-user .post-content .post-hash span {
    margin-right: 15px;
}

.post .post-inner .post-user .post-content .radar-fire,
.post .post-inner .post-user .post-content .radar-fire p {
    margin: 0;
    border: none;
}

.post .post-inner .post-user .post-content .radar-intr {
    padding: 15px;
}

.browse {
    width: 320px;
}

.today-browse {
    padding-left: 15px;
    margin-top: 30px;
}

.browse .browse-inner h1 {
    padding: 0 10px 10px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.browse .browse-inner .follow-todays {
    margin-top: 20px;
}

.browse .browse-inner .follow .discovery {
    color: var(--blue);
    margin-top: 12px;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    display: inline-block;
    position: relative;
    top: 5px;
}

.browse .browse-inner .follow .discovery:hover {
    text-decoration: underline var(--blue);
}

.browse .browse-inner .follow .follow-today-inner {
    background-color: #121212;
    border-radius: 3px;
}

.browse .browse-inner .follow .follow-inner .follow-title {
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.browse .browse-inner .follow .follow-inner .follow-footer {
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-top: 1px solid rgba(var(--white-on-dark), .13);
}

.browse .browse-inner .follow .follow-inner .follow-footer p {
    font-size: 11px;
}

.browse .browse-inner .follow .follow-inner .follow-footer h2 {
    font-size: 15px;
    color: var(--blue);
    cursor: pointer;
}

.browse .browse-inner .follow .follow-inner .follow-footer h2:hover {
    text-decoration: underline var(--blue);
}

.browse .browse-inner .follow .follow-inner .follow-title h2 {
    font-size: 17px;
}

.browse .browse-inner .follow .follow-inner .follow-title p {
    font-size: 16px;
    color: var(--blue);
    cursor: pointer;
}

.browse .browse-inner .follow .follow-inner .follow-title p:hover {
    text-decoration: underline var(--blue);
}

.browse .browse-inner .follow .follow-inner .follow-item {
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 4px;
}

.browse .browse-inner .follow .follow-inner .follow-today-item {
    display: inline-block;
    margin: 12px 10px;
}

.browse .browse-inner .follow .follow-inner .follow-today-item:first-child {
    margin-top: 8px;
}

.browse .browse-inner .follow .follow-inner .follow-item:first-child {
    margin-top: 8px;
}

.browse .browse-inner .follow .follow-inner .follow-item:hover {
    background-color: #121212;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info .follow-name {
    display: flex;
    flex-direction: column;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info .follow-name p,
.browse .browse-inner .follow .follow-inner .follow-item .user-info .follow-name span {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info .follow-name span {
    color: #8d8d8d;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info img {
    height: 37px;
    width: 37px;
    border-radius: 4px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-info .today-img-hash {
    border-radius: 3px;
    width: 64px;
    height: 45px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr p {
    color: var(--blue);
    font-size: 15px;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr i {
    font-size: 10px;
    font-weight: 600;
    color: #808080;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr i:hover {
    color: #fff;
}

.browse .browse-inner .follow .follow-inner .follow-item .user-intr p:hover {
    text-decoration: underline var(--blue);
}

.browse .browse-inner .radar-title {
    margin-top: 50px;
    padding: 0 10px 10px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.radar .radar-inner {
    background-color: #222222;
    margin-top: 15px;
    border-radius: 5px;
}

.radar .radar-inner .radar-card .radar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info {
    height: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info .radar-name {
    display: flex;
    flex-direction: column;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info .radar-name p {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
}

.radar .radar-inner .radar-card .radar-info .radar-user-info .radar-name span {
    font-size: 14px;
    color: var(--blue);
}

.radar .radar-inner .radar-card .radar-info .radar-user-info .radar-name span:hover {
    text-decoration: underline var(--blue);
}

.radar .radar-inner .radar-card .radar-info .radar-ellips {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radar .radar-inner .radar-card .radar-info .radar-ellips:hover {
    background-color: rgba(var(--white-on-dark), .04);
}

.radar .radar-inner .radar-card .radar-info .radar-ellips i {
    font-size: 20px;
    color: #a0a0a0;
}

.radar .radar-inner .radar-card .radar-img img {
    width: 320px;
    height: 400px;
}

.radar .radar-inner .radar-card .today-img img {
    width: 290px;
    height: 400px;
}

.radar-fire {
    border-bottom: 1px solid var(--gray);
    margin: 0 10px;
}

.radar-fire p {
    margin: 30px 0 10px;
    color: #b2b2b2;
    font-weight: 600;
}

.radar-intr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
}

.radar-intr .radar-intr-not {
    width: 103px;
    height: 36px;
    border: 1px solid var(--gray);
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radar-intr .radar-intr-user .radar-menu {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.radar-intr .radar-intr-user .radar-menu i {
    color: var(--lightgray);
    font-size: 20px;
}

.sponsor-title {
    margin-top: 50px;
    position: sticky;
    top: 60px;
    padding: 0 10px 10px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
}

.sponsor {
    margin-top: 15px;
    padding: 0 10px;
    position: sticky;
    top: 110px;
}

.tumblr-info-menu {
    margin: 15px 0;
    padding: 0 10px;
    position: sticky;
    top: 95%;
}

.inbox-info-menu {
    position: fixed;
    bottom: 0;
}

.tumblr-info-menu a {
    color: var(--blue);
    font-size: 12px;
    margin: 0 10px 0 0;
}